body {
    padding: 5px;
    height: 150px;
    width: 220px;
    background-color: rgba(151, 155, 145, 0.541);

    div {
        display: flex;
        justify-content: center;
    }
    .heading {
        height: 30%;
        background-color: azure;
        border: 10px red;
        color: rgb(79, 79, 148);
    }

    .counterDiv {
        display: block;
        text-align: center;
        font-size: medium;
        height: 50%;

        .counter {
            font-size: large;
        }
    }

    .btn {
        padding: 10px;
        height: 20%;
    }
}